.footer{
  background-color: #f7ca18;
  text-align: center;
  position: fixed;
  padding: 1rem;
  font-weight: bold;
  font-size: 1em;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}